@import "../pages/login/Login";
@import "../pages/registration/Registration";

//noinspection ALL
.dflex {
  display: flex;
}

//noinspection ALL
.aicenter {
  align-items: center;
}

//noinspection ALL
.jccenter {
  justify-content: center;
}

//noinspection ALL
.fdcolumn {
  flex-direction: column;
}

//noinspection ALL
/*.fdrow {
  flex-direction: row;
}*/

.hvh100 {
  height: 100vh;
}
